.bgImg {
  background-color: white;
  min-height: 100vh;
}

.navColor {
  background-color: rgb(91, 91, 177);
}

#cardItem:hover {
  scale: 1.05;
}

.linkHover:hover {
  background-color: rgb(0, 174, 255);
}

.homeBg {
  background-image: url("https://cdn.dribbble.com/users/1170793/screenshots/6018665/ecommerce-illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
}



